<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="home.css" />
        <title>Ergo</title>
    </head>

    <body>
        <header>
            {% include 'header.html.twig'%}
        </header>

        <footer>
            {% include 'footer.html.twig'%}
        </footer>
    </body>
</html>
