<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="styles/home.css" />

        <title>Ergo</title>
    </head>

    <body>
        <header>
            {% include 'header.html.twig'%}
        </header>

        <div id="fw_frame">
            <!--<div id="image_fw">
                <img src="images/brainstorming_4.jpg" />
            </div>-->

            <div id="particles-js">

            </div>

            <div id="slogan">
                <h1>Vous cherchez un projet qui va vous passionner ? Parfait.</h1>
            </div>
            <div id="button_frame">
                <div class="button" id="bttn_new_project">
                    <div class="bttn_text">
                        Créer un nouveau projet
                    </div>
                </div>
                <div class="button" id="bttn_see_projects">
                    <div class="bttn_text">
                        Voir la listes des projets
                    </div>
                </div>
            </div>

            <div class="see_more">
                <h3>Voir plus</h3>
                <img src="images/arrow_downward.png" id="arrow_see_more"/>
            </div>

        </div>

        <div id="project_presentation">
            <div id="trend_projects">

                <h2>Projet en tendance</h2>

                <div class="project_sheet">
                    <div class="row_1">
                        <div class="col_1">
                            <h3 class="title">Application Android</h3>
                            <p class="category">Informatique</p>
                        </div>
                        <div class="col_2">
                            <img class="project_image" />
                        </div>
                    </div>

                    <div class="row_2">
                        <p class="date">12/02/2022</p>
                        <div class="views_frame">
                            <p class="n_view">44</p>
                            <img />
                        </div>
                    </div>
                </div>

                <div class="project_sheet display_none">

                </div>
            </div>

            <div id="last_projects">

                <h2>Derniers projets ajoutés</h2>

                <div class="project_sheet display_none">

                </div>

                <div class="project_sheet display_none">

                </div>

            </div>
        </div>

        <footer>
            {% include 'footer.html.twig'%}
        </footer>

        <script src="scripts/particles.js/particles.js"></script>
        <script src="scripts/home.js"></script>

    </body>
</html>
