<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="" />
        <title>Ergo</title>
    </head>

    <body>
        <div id="block_page">
            <header>
                <div id="title">
                    <div id="logo">
                        <h1>Ergo</h1>
                    </div>
                    <h2>Projet</h2>
                </div>

                <nav>

                </nav>
            </header>

            <section></section>

            <footer></footer>
        </div>
    </body>
</html>
