#header_body {
    width: 100%;
    height: 100px;
    background-color: #4682B4;
    display: flex;
    flex-direction: row;
}

#logo_part {
    width: 30%;
    height: inherit;
}

#central_part {
    width: 40%;
    height: inherit;
}

#login_part {
    width: 30%;
    display: flex;
    flex-direction: row;
    height: inherit;
}

.v_centered {
    margin-top: auto;
    margin-bottom: auto;
}
