body
{
  background-color: #f5f4f4;
  margin: 0px;
}

.button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    outline: 4px solid black;
    border-radius: 5px;
    float: left;
    height: 30px;
    width: 110px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.bttn_text {

}

#image_fw {
  position: absolute;
  z-index: 1;
}

#image_fw img {
  width: 100%;
}

#slogan {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: white;
  position: relative;
  z-index: 2;
}

