<!DOCTYPE html>
<div id="header_head">
    <link rel="stylesheet" type="text/css" href="styles/header.css">
</div>

<div id="header_body">

    <div id="logo_part">
        <img id="logo" src="img/logo.png" ></img>
    </div>

    <div id="central_part">

    </div>

    <div id="login_part">
        <div class="v_centered">
            <div id="login" class="button">
                <div class="bttn_text">
                    Login
                </div>
            </div>

            <div id="register" class="button">
                <div class="bttn_text">
                    Register
                </div>
            </div>
        </div>
    </div>

</div>
